.starship-link {
  display: flex;
  border: 2px solid blue;
  border-radius: 20px;
  background-color: gold;
  color: black;
  margin: 20px;
  height: 100px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.starship-link:hover {
  background-color: goldenrod;
  color: white;
}

.starship-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

body {
  background-image: url("https://i.imgur.com/m9bpVKU.jpg");
  background-size: contain;
  color: white;
}

.link {
  text-decoration: none;
  background-color: transparent;
  color: black;
  font-size: large;
}

.Starship-details {
  color: black;
  text-align: left;
  border:5px solid white;
  padding: 20px;
  background-color: gold;
}

.title {
  -webkit-text-stroke: 3px gold;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
}